{
  "rules": {
    "color-hex-case": "upper",
		"color-hex-length": "long",
		"color-named": "never",
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"string-no-newline": true,
		"string-quotes": "single",
		"length-zero-no-unit": true,
		"value-keyword-case": "lower",
		"value-list-comma-space-after": "always",
		"custom-property-empty-line-before": "never",
		"shorthand-property-no-redundant-values": true,
		"declaration-no-important": true,
		"declaration-block-semicolon-newline-after": "always",
		"block-no-empty": true,
		"max-nesting-depth": 1,
		"no-missing-end-of-source-newline": true,
		"no-eol-whitespace": true,
		"selector-pseudo-element-colon-notation": "single",
		"selector-max-specificity": "0,2,0"
  }
}
