$c-red: #F00000;
$c-yellow: #FFF000;

.title {
  color: $c-red;
  padding: 20px;
  display: block;
  text-decoration: underline;
  transform: rotate(180deg);

  &:hover {
    background-color: $c-yellow;
  }

  &:before {
    content: '';
  }
}
